﻿@inherits UmbracoViewPage<USN.USNModels.USNBaseViewModel>

@using USNStarterKit.USNHelpers;

@{
    Layout = "USNMaster.cshtml";
}

@Html.Partial("USNAdvancedPageComponents/USN_AdvancedPageComponents", Model)	

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", "horizontal" }, { "pagetype", "advanced" } })
	
@section BodyTag
{
    @{
        string headerClass = String.Empty;

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteHeaderSection"))
        {
            headerClass = "no-header";
        }

        if (Model.Content.GetPropertyValue<bool>("hideWebsiteFooterSection"))
        {
            headerClass = headerClass + " no-footer";
        }

        UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

        string fixedWidth = String.Empty;

        if (globalSettings.FixedWidth)
        {
            fixedWidth = "fixed-width";
        }

        string customBodyClass = String.Empty;

        if(Model.Content.HasValue("customBodyClasses"))
        {
            customBodyClass = Model.Content.GetPropertyValue<string>("customBodyClasses");
        }

        string bannerClass = String.Empty;

        IEnumerable<IPublishedContent> components = null;

        if (Model.Content.GetPropertyValue<bool>("overrideDefaultTopComponents"))
        {
            if (Model.Content.HasValue("topComponents"))
            {
                components = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("topComponents");
            }
        }
        else
        {
            if (globalSettings.DefaultTopComponents.HasValue())
            {
                components = globalSettings.DefaultTopComponents;
            }
        }

        if (components != null && components.Any())
        {
            var publishedContents = components as IList<IPublishedContent> ?? components.ToList();

            bannerClass = publishedContents.FirstOrDefault().IsDocumentType(Usn_Ac_Banner_AN.ModelTypeAlias) ? "banner-top" : "";
        }

        //If no top components look at page components next
        else
        {
            UsnadvancedPageComponents pageComponentsNode = Model.Content.Children<UsnadvancedPageComponents>().FirstOrDefault();

            if (pageComponentsNode != null && pageComponentsNode.Children.FirstOrDefault() != null && pageComponentsNode.Children.First().IsDocumentType(Usn_Ac_Banner_AN.ModelTypeAlias))
            {
                bannerClass = "banner-top";
            }

        }
    }

    @Html.Raw(" class=\"advanced-page " + bannerClass + " " + headerClass + " " + fixedWidth + " " + customBodyClass + "\"")
}